<% provide(:title, '💎 Ruby Fashion') %>

<div class="clearfix"> </div>
</div>
<script>
// $(document).ready(function() {
//     $('.popup-with-zoom-anim').magnificPopup({
//         type: 'inline',
//         fixedContentPos: false,
//         fixedBgPos: true,
//         overflowY: 'auto',
//         closeBtnInside: true,
//         preloader: false,
//         midClick: true,
//         removalDelay: 300,
//         mainClass: 'my-mfp-zoom-in'
//     });

// });
</script>
<!--banner-->
<div class="banner">
    <div class="matter-banner">
        <div class="slider">
            <div class="callbacks_container">
                <ul class="rslides" id="slider">
                    <li>
                        <%= image_tag("dior3.jpg",  width: "500px") %>
                    </li>
                    <div class="tes animated wow fadeInUp animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <h2>
                            <%= t".title" %>
                        </h2>
                    </div>
            </div>
            </li>
            </ul>
        </div>
    </div>
</div>
<div class="clearfix"> </div>
</div>
<div class="content">

        <div class="content-top">
            <div class="content-top1">
                <div class="clearfix"> </div>
            </div>
            <h1 style="background-color:#ad4095">
                <%= t".onsale" %>
            </h1>
            <div class="content-top1">
                <% unless  @canpaign.nil? %>
                <%  @canpaign.products.each do |product|%>

                <div class="col-md-3 col-md2 animated wow fadeInLeft" data-wow-delay=".5s">
                    <div class="col-md1 simpleCart_shelfItem">
                        <a href="<%= product_path(product.id) %>">
                            <% product.images.each do |image|%>
                            <%= image_tag image.variant(resize_to_limit: [250, 500]) %>
                            <% end %>
                        </a>
                        <h3>
                            <%= link_to product.name, product_path(product.id) %>
                        </h3>
                        <div class="price">


                             <h5 class="item_price">
                        <% if @sales_product_ids.include?(product.id) %>
                                <br><%=number_to_currency product.price*(100- @canpaign.value)/100 %>
                         <br><br> <span class="onsale">
                            <p>
                                <%= @canpaign.value  %>%    <br>  <%= t("global.canpaigs.discout") %></p> </span>
                                <del><%= number_to_currency product.price %></del>
                        <% else %>
                            <span> <%= number_to_currency product.price %> </span>
                        <%end%>

                            </h5>
                                <%= link_to t(".addcart"), cart_path(product),remote: true, class: 'btn btn-primary' %>
                        </div>
                    </div>
                </div>
                <% end %>
                <% end %>
            </div>


            <div class="clearfix"> </div>
              <div class="content-top">
            <h1 style="background-color:#ad4095">
                <%= t".bestseller" %>
            </h1>

                     </div>
                </div>

            </div>
            </div>

                <% @bestseller.each do |product|%>
                        <div class="col-md-3 col-md2 animated wow fadeInLeft" data-wow-delay=".5s">
                    <div class="col-md1 simpleCart_shelfItem">
                        <div class="content-grid-effect slow-zoom vertical">
                             <a href="<%= product_path(product.id) %>">
                              <div class="img-box">
                            <% product.images.each do |image|%>
                             <%= image_tag image.variant(resize_to_limit: [450, 600]) %>
                            <% end %>
                             </a>
                             </div>
                       <div class="info-box">
                        <div class="info-content simpleCart_shelfItem">
                       <br>
                  <h3>
                <% if @sales_product_ids.include?(product.id) %>

                                 <p> <%= @canpaign.value  %>% <br> <%= t("global.canpaigs.discout") %></p>
                        <% else %>

                        <%end%> </h3>
                                    </div>
                                </div>
                            </div>
                             <h3><%= number_to_currency product.price %></h3>
                             <h3> <%= link_to product.name, product_path(product.id) %> </h3>
                        <%= link_to t(".addcart"), cart_path(product),remote: true, class: 'btn btn-primary' %></a>
                        </div>
                    </div>
                </div>
                <%end%>
                <div class="clearfix"></div>
                    <div class="content">
        <div class="content-top">
            <div class="content-top1">
                <h1 style="background-color:#ad4095">
                    <%= t".new" %>
                </h1>
                <div class="c-btm">

                        <% @products.each do |product|%>

                            <div class="col-md-3 col-md2 animated wow fadeInLeft" data-wow-delay=".5s">
                                <div class="col-md1 simpleCart_shelfItem">
                                        <a href="<%= product_path(product.id) %>">
                                    <% product.images.each do |image|%>
                              <%= image_tag image.variant(resize_to_limit: [250, 500]) %>
                                    <% end %>
                                    </a>
                                    <h3>
                                        <%= link_to product.name, product_path(product.id) %>
                                    </h3>
                                    <div class="price">

                                         </h3>
                        <h5 class="item_price">
                        <% if @sales_product_ids.include?(product.id) %>
                                <br><%=number_to_currency product.price*(100- @canpaign.value)/100 %>
                                 <span class="onsale">
                                 <p> <%= @canpaign.value  %>% <br> <%= t("global.canpaigs.discout") %></p> </span>
                                <del><%= number_to_currency product.price %></del>
                        <% else %>
                            <span> <%= number_to_currency product.price %> </span>
                        <%end%>
                            </h5>

                                        <%= link_to t(".addcart"), cart_path(product),remote: true, class: 'btn btn-primary' %></a>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                        </div>
                    </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>

 <!-- comment fb -->
        <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v7.0&appId=2329080434067072&autoLogAppEvents=1"></script>

<div class="fb-comments" data-href="http://localhost:3000/" data-numposts="1" data-width="full"></div>

<div class="fb-comments" data-href="https://your_rails_app.com" data-numposts="5"></div>
<br>


            <script type="text/javascript">
            $(document).ready(function() {
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    // Mostramos un mensaje con la respuesta de PHP
                    success: function(data) {
                        $('#result').html();
                    }
                });
            });
            </script>


<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="box_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
