


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Content</th>
      <th scope="col">Status</th>
      <th scope="col">More</th>
    </tr>
  </thead>
  <tbody>
    <% @canpaigns.each do |canpaign|%>
    <tr>
      <td><%= canpaign.id %></td>
      <td><%= canpaign.name %></td>
      <td><%= canpaign.content %></td>
      <td><%= canpaign.status %></td>
      <td>
         <%= link_to t("global.canpaigs.delete"), canpaign, method: :delete, data: { confirm: "You sure?" } , class: "btn btn-warning" %>
      </td>
      <td>
        <%= link_to t("global.canpaigs.edit"), edit_admin_canpaign_path(canpaign) , class: "btn btn-info" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>


