<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">🚩</th>
      <th scope="col"><%= t("global.canpaigs.camname") %></th>
      <th scope="col"><%= t("global.canpaigs.content") %></th>
      <th scope="col"><%= t("global.canpaigs.status") %></th>
      <th scope="col"><%= t("global.canpaigs.more") %></th>
    </tr>
  </thead>
  <tbody>
    <% @canpaigns.each_with_index do |canpaign,index|%>
    <tr>
      <td><%= index %></td>
      <td><%= link_to canpaign.name, admin_canpaign_path(canpaign.id) %></td>
      <td><%= canpaign.content %></td>
      <td><%= canpaign.status_i18n %></td>

      <td>
         <%= link_to t("global.canpaigs.delete"), canpaign, method: :delete, data: { confirm: "You sure?" } , class: "btn btn-warning remove" %>
      </td>
      <td>
        <%= link_to t("global.canpaigs.edit"), edit_admin_canpaign_path(canpaign) , class: "btn btn-info" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
