  <% provide(:title, 'Show Campaigns') %>
    <div class="container">
<div class="col-md-8">
        <div class="card-body">
          <div class="alert alert-primary" role="alert">
            <h4 class="card-title">➤<%= @canpaign.name %>:</h4>
               <h1 style="border-style:double" class="card-title"><%= @canpaign.content %></h1>
             <h1  class="ca"><%= @canpaign.status_i18n %> ✔</h1> </small></p>
             <br>
              <h1  class="ca"> <%= @canpaign.value %> %⇓</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"><%=t("global.canpaigs.name") %></th>
      <th scope="col"> <%= t("global.canpaigs.price") %></th>

    </tr>
  </thead>
  <tbody>

    <tr>
     <% @canpaign.sales.each do |sale| %>
      <tr>
        <td><%= label :name, sale.product.name %></td>
       <td><%= label :name, sale.product.price %></td>
      </tr>
      <% end %>
    </tr>

  </tbody>
</table>

          <%= link_to t("global.canpaigs.edit"), edit_admin_canpaign_path(@canpaign.id),  class: "btn btn-info" %>
      </div>
    </div>
  </div>
</div>
