<div class="col-md-3 product-bottom">
  <div class=" rsidebar span_1_of_left">
    <h3 class="cate"><%= t("global.order.catelogy") %></h3>
    <ul class="menu-drop active">
      <%= form_tag( products_path, method: :get )do %>
            <% @catelogies.each do |catelogy| %>
              <label>
                <%= catelogy.name %>
                <% unless params[:id].nil? %>
                        <li>
                          <% if params[:id].include?(catelogy.id.to_s)%>
                            <%= check_box_tag 'id[]', catelogy.id, class: 'active' %>
                          <% else %>
                            <%= check_box_tag 'id[]', catelogy.id %>
                          <% end %>
                        </li>
                <% else %>
                  <li> 
                    <%= check_box_tag 'id[]', catelogy.id %>
                  </li>
                <% end %>
                <div>
                </div> 
              </label>
            <% end %>
            <h3><%= t("global.order.price") %></h3>
              <%= text_field_tag 'price[]'%>
              <%= text_field_tag 'price[]'%>
              <%= submit_tag 'Submit' %>
      <% end %>
    </ul>
  </div>
</div>