<div class="col-md-3 product-bottom">
  <div class=" rsidebar span_1_of_left">
    <h3 class="cate">Categories</h3>
    <ul class="menu-drop active">
      
        <li class="item1">
          <% @catelogies.each do |catelogy| %>
            
            <input type="checkbox" name="<%= catelogy.name%>" id="action" value='<%= catelogy.name %>' />
          <% end %>
        </li>
   
    </ul>
  </div>
  <div class=" rsidebar span_1_of_left">
    <h3 class="cate">Price</h3>
      <ul class="menu-drop">
        <li class="item1"><%= link_to "0 - 1000",:price => "1000" %></li>
        <li class="item1"><%= link_to "1000 - 3000",:price => "3000" %></li>
        <li class="item1"><%= link_to "3000 - 5000", :price => "5000"%></li>
        <li class="item1"><%= link_to "5000 - 10000",:price => "10000"%></li>
        <li class="item1"><%= link_to "10000 - +oo",:price => "0"%></li>
      </ul>
  </div>
  <div class="tag">
    <h3 class="cate">Hots</h3>
      <div class="tags">
        <ul>
          <% @catelogies.each do |catelogy| %>
            <li>
              <%= link_to catelogy.name, all_path(id: catelogy.id) %>
            </li>
          <% end %>
          <div class="clearfix"> </div>
        </ul>
      </div>
  </div>
</div>
<script type="text/javascript">
  $('.active > li > input').click(function () {
    if ($(this).prop('checked', true)){
      var name = $(this).attr('value')
      console.log(name);
      $.ajax({
        url: "/products",
        type: "get",
        data: {id: name}
      })  
    }  
    else{
      alert("no")
    }
  });  


</script>
