
            <div class="button-action">
                <a title="Tiếp tục" class="cartContinue" href="/">Tiếp tục mua sắm</a>
            </div>
            <div class="container">
              <div class="check-out">
                <h2>Checkout</h2>
                <p>
                 <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Thanh Toan</a> 
                </p>
                <%= form_for @order do |f| %>
                <div class="row">
                  <div class="col">
                    <div class="collapse multi-collapse" id="multiCollapseExample1">
                      <div class="card card-body">
                         
                             <%= f.hidden_field :user_id, value: 1 %>

                                <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                                <%= f.text_field :Name %>

                                <label for="email"><i class="fa fa-envelope"></i> Email</label>
                                <%= f.text_field :Email %>

                                <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                                <%= f.text_area :Address %>

                                <label for="city"><i class="fa fa-institution"></i> Phone</label>
                                <%= f.text_field :Phone %>

                                <%= f.submit 'Continue to checkout', class: 'btn'%>
                      </div>
                    </div>
                  </div>
                  </div>

                <table >
                  <tr>
                    <th>Item</th>
                    <th>Qty</th>    
                    <th>Prices</th>
                    <th>Sub total</th>
                </tr>
                <%= f.fields_for :orderdetails do |ff| %>
                <tr>
                    <td class="ring-in">
                      <div class="sed">
                        <%= ff.hidden_field :product_id %>
                        <h5><%= ff.object.product.name %></h5>
                      </div>
                    <div class="clearfix"> </div></td>
                    <td>
                        <%= ff.text_field :quantity %>
                    </td>
                    <td><%= ff.object.product.price %></td>

                    <td><%= ff.object.product.price * ff.object.quantity  %></td>
                    <td> <%= link_to 'delete', cart_path(ff.object.product.id), method: :delete, class: 'btn btn-primary'%></td>
                    <td></td>
                </tr>
                <% end %>
            </table>
            <% end %>
            <hr>
            <p>Total <span class="price" style="color:black"><b>
                <%= @total %>
            </b></span></p>
            <div class="clearfix"> </div>
        </div>
    </div>
   















   























                
               
                
                


   
>>>>>>> task 3
