
<% provide(:title, 'Products') %>
  <div class="container">
  <%= link_to t("global.canpaigs.create1") , new_admin_canpaign_path, class: 'btn btn-success' %>
</div> <br>

<div class="container">
  <%= link_to t("global.canpaigs.create2"), new_admin_product_path, class: 'btn btn-success' %>
</div>

<table class="table">
  <caption>List Products</caption>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product|%>
      <tr>
        <th scope="row"><%= product.id %></th>
        <td><%= link_to product.name, products_path(product.id) %></td>
        <td><%= product.price %></td>
        <td><%= link_to t("global.canpaigs.delete"), product, method: :delete, data: { confirm: "You sure?" },class: 'btn btn-danger' %> </td>
        <td><%= link_to t("global.canpaigs.edit"), edit_product_path(product),class: 'btn btn-info' %></td>
      </tr>
    <% end %>
  </tbody>
</table>




