<div class="breadcrumbs">
    <div class="container">
    </div>
</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <% @product.images.each do |image| %>
        <div class="item active">
            <%= image_tag image.variant(resize_to_limit: [500, 200]) %>
        </div>
        <% end %>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only"></span>
    </a>
</div>
<div class="col-md-7 single-top-in">
    <div class="single-para simpleCart_shelfItem">
        <h2>
            <%= @product.name %>
        </h2>
        <div class="available">
            <li>
                <%= t("global.canpaigs.size") %>:
                <%= @product.size %>
            </li>
            <% if @product.amount.to_i >= 1 %>
            <li>
                <%= t("global.canpaigs.quantity") %> :
                <%= @product.amount %>
            </li>
            <% else %>
            <li>
                <%= t("global.canpaigs.quantity") %> :
                <%= 0 %>
            </li>
            <% end %>
            <div id="rating1">⊕:
                <%= @product.ratings.count %>
            </div>
            </br>
            <div id="rating2"> ½:
                <%= @product.ratings.average(:total) %>
            </div>
            <div class="info-product-price">
                         <h5 class="item_price">
                        <% if @sales_product_ids.include?(@product.id) %>
                                <br><%=number_to_currency @product.price*(100- @canpaign.value)/100 %>
                                         <span class="onsale">
                                 <p> <%= @canpaign.value  %>% <br> Discount</p> </span>
                                <del><%= number_to_currency @product.price %></del>
                        <% else %>
                            <span> <%= number_to_currency @product.price %> </span>
                        <%end%>
                            </h5>
                    </div>
            <%= link_to t("global.canpaigs.addc"), cart_path, remote: true, class: 'btn btn-primary' %>
            </button>
            <br>
            <% if logged_in?  %>


                  <br>
            <div class="star-on">
                <ul>
                    <li>
                        <%= link_to "♥", product_ratings_path(@product, ratings: 1), method: :post, method: :post, remote: true, data: { confirm: "You sure?"} %>
                    </li>
                    <li>
                        <%= link_to '♥',  product_ratings_path(@product, ratings: 2), method: :post, remote: true, data: { confirm: "You sure?"} %>
                    </li>
                    <li>
                        <%= link_to '♥',  product_ratings_path(@product, ratings: 3) , method: :post, remote: true, data: { confirm: "You sure?"} %>
                    </li>
                    <li>
                        <%= link_to '♥',  product_ratings_path(@product, ratings: 4) , method: :post, remote: true, data: { confirm: "You sure?"} %>
                    </li>
                    <li>
                        <%= link_to '♥',  product_ratings_path(@product, ratings: 5) , method: :post,remote: true, data: { confirm: "You sure?"} %>
                    </li>
                </ul>
            </div>
              <!-- ----comments --><br>
        <%= render 'form_comments' %>
            <% end %>
        </div>
    </div>
</div>
<% @products.each do |product|%>
<div class="clearfix"> </div>
<div class="content-top1">
    <div class="col-md-4 col-md4">
        <div class="col-md1 simpleCart_shelfItem">
            <a href="/products/<%= product.id %>">
                <%= link_to image_tag("lak2.png",  width: "200px") %>
            </a>
            <div class="price">
                <h5 class="item_price">$300</h5>

                <a href="#" class="item_add">
                    <%= t("global.canpaigs.addc") %></a>

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-md4">
        <div class="col-md1 simpleCart_shelfItem">
            <a href="/products/<%= product.id %>">
                <%= link_to image_tag("lak5.png",  width: "200px") %>
            </a>
            <div class="price">
                <h5 class="item_price">$300</h5>

                <a class="item_add">
                    <%= t("global.canpaigs.addc") %></a>

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
</div>
<%end%>


