


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Content</th>
      <th scope="col">Status</th>
      <th scope="col">More</th>
    </tr>
  </thead>
  <tbody>
    <% @canpaigns.each do |canpaign|%>
    <tr>
      <td><%= canpaign.id %></td>
      <td><%=  link_to canpaign.name ,admin_canpaign_path(canpaign.id) %></td>
      <td><%=  canpaign.content %></td>
      <td><%= canpaign.status %></td>
      <td>
         <%= link_to t("global.canpaigs.delete"), admin_canpaign_path(canpaign.id), method: :delete, data:  { confirm: t("global.canpaigs.yousure1") } , class: "btn btn-warning" %>
      </td>
      <td>
        <%= link_to t("global.canpaigs.edit"), edit_admin_canpaign_path(canpaign) , class: "btn btn-info" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>


