
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Content</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <% @canpaigns.each do |canpaign|%>
      <tr>
        <th scope="row"><%= canpaign.id %></th>
        <td><%= canpaign.name %>/td>
        <td><%= canpaign.content %></td>
        <td><%= canpaign.status %></td> 
        <td>
           <%= link_to t("global.canpaigs.delete"), canpaign, method: :delete, data: { confirm: "You sure?" } , class: "btn btn-warning" %>
        </td>
        <td>
          <%= link_to t("global.canpaigs.edit"), edit_canpaign_path(canpaign) , class: "btn btn-info" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>




