  <% provide(:title, 'Products') %>
<div class="container">

 <%= link_to  t("global.canpaigs.view"),admin_canpaigns_path, class: 'btn btn-info' %>
  <%= link_to t("global.canpaigs.create2"), admin_products_path, class: 'btn btn-info' %>
</div>
<div class="container">
  <div class="form-group">
  <%= form_for @canpaign  do |f| %>
   <div class="form-group">
      <%= f.label t("global.canpaigs.camname") %>
      <%= f.text_field :name, placeholder: "....", class: 'form-control' %>
    </div>


     <div class="form-group">
      <%= f.label t("global.canpaigs.content") %>
      <%= f.text_field :content, placeholder: "....", class: 'form-control' %>
    </div>

   <div class="form-group">
      <%= f.label t("global.canpaigs.value") %>
       <output class="output" for="canpaign_value" id="intensity"><%= @canpaign.value %></output>
      <%= f.range_field(:value)%>


   <div class="form-group">
      <%= f.label t("global.canpaigs.status") %>
      <%= f.check_box :status, {placeholder: "....", class: 'form-control'}, "open", "closed"  %>
    </div>


<div class="col-md-6 top-footer1 animated wow fadeInRight" data-wow-delay=".5s">

  <%= form_for products_path, method: :get do |ff| %>

    <%= text_field_tag :search, params[:search],
    placeholder: t("global.canpaigs.checkbox"), id: 'tag' %>
    <%= submit_tag t("global.canpaigs.upload") %>
  <% end %>
  <table class="table table-hover">
    <tr>

    </tr>
  </table>
  <% end %>

   <div class="clearfix"> </div>
</div>


  <script type="text/javascript">

$('#canpaign_value').change(function(event) {
    $('output').text(document.querySelector('#canpaign_value').value);

});

  </script>


<script type="text/javascript">
  $('#tag').autocomplete({
  source: function (request, response) {
    $.ajax({
      url: "/products",
      data: { search: request.term },
      dataType: 'json',
      success: function (data) {
        response($.map(data, function (dataItem) {
          return {data: dataItem.id, value: dataItem.name };
        }));
      },
    });
  },
   select: function(event, ui) {
    var exist = false;
    $('[name="canpaign[product_ids][]"]').each(function() {
      var value = $(this).val();
      if (value == ui.item.data ) {
        exist = true;
      }
    });
    if (exist == true ) {
      alert("already exist");
    } else{
          $('table').append('<tr><td>'+ui.item.value+'</td><td> <input type="checkbox" value="'+ui.item.data+'" checked="checked" name="canpaign[product_ids][]" id="canpaign_product_ids_'+ui.item.data+'"></td></tr>');
    }

  },
});
</script>
