<div class="container">
  <div class="form-group">
  <%= form_for @canpaign  do |f| %>
    <div class="form-group">
      <%= f.label t("global.canpaigs.camname") %>
      <%= f.text_field :name, placeholder: "....", class: 'form-control' %>
    </div>


     <div class="form-group">
      <%= f.label t("global.canpaigs.content") %>
      <%= f.text_field :content, placeholder: "....", class: 'form-control' %>
    </div>

   <div class="form-group">
      <%= f.label t("global.canpaigs.value") %>
      <%= f.number_field :value, placeholder: "....", class: 'form-control' %>
    </div>


   <div class="form-group">
      <%= f.label t("global.canpaigs.status") %>
      <%= f.check_box :status, placeholder: "....", class: 'form-control'  %>
    </div>




    <div class="form-group">
      <%= f.label 'status' %>
      <%= f.check_box :status, placeholder: "....", class: 'form-control'  %>
    </div>

    Products:
    <ul>
    <% @products.each do |product| %>
      <li>
        <label class="radio-inline"><%= product.name %>
          <%= f.check_box :product_ids, {:multiple => true}, product.id, nil %>

        </label>
      </li>
    <% end %>
    </ul>
    <%= f.submit "Create", class: "btn btn-primary" %>

  <% end %>
  </div>
 <br>
<div class="container">
  <%= link_to ' ✚ Create Product', new_admin_product_path, class: 'btn btn-primary' %>
</div>
</div>

        <!--initiate accordion-->

<!--//menu-->

<!--//seller-->





