<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="header">
    <div class="header-top">
   <div class="container">
        <div class="col-sm-4 logo animated wow fadeInLeft" data-wow-delay=".5s">
       <!-- <h1><%= link_to "🌤",  about_path%></h1> -->
          <h1><%= link_to 'RuBY Fashion', home_path%></h1>
        </div>
        <div class="col-sm-4 world animated wow fadeInRight" data-wow-delay=".5s">
            
          </div>

          <div class="col-sm-2 number animated wow fadeInRight" data-wow-delay=".5s">

    <%= link_to t("global.header.allpr"), products_path, class:"success" %>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
          <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
        </svg>

            <div>
              <%= link_to t("global.canpaigs.cart")  ,carts_path %> &#128722;
   <span id="cartdetail" class="badge badge-primary">
                <div id="deleteproduct">
                <% unless session[:carts].nil? %>
                  <%= session[:carts].reject{|k| k == {} }.count %>
                    <% else %>
                    <%= 0 %>
                    <% end %>
                  </div>
                  </span>
            </div>
    <% if logged_in? %>
                   <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= t("global.header.account")  %> 👥<b class="'btn btn-info'"></b>  </a>
                      <ul class="dropdown-menu">

                  <% if current_user.admin?  %>
                      <li>
                      <%= link_to t("global.header.user"), users_path, class:"success" %>
                        </li>
                    <br><br><br>
                        <li class="dropdown-submenu">
                          <%= link_to t("global.header.adminmanager"), class:"success"%>
                          <ul class="dropdown-menu">
                            <li><a ><%= link_to t("global.header.adminmanager2"), admin_orders_path, class:"success" %></a></li>
                            <li><a > <%= link_to t("global.header.admin2"),admin_canpaigns_path,class:"success" %></a></li>
                            <li><a >  <%= link_to t("global.header.admin1"), admin_products_path, class:"success" %></a></li>
                            <li><a >  <%= link_to t("global.header.admin3"), admin_catelogies_path, class:"success" %></a></li>
                          </ul>
                        </li>
                        <br><br>
                        <li>
                    </li>
                    <% end  %>

                      <li>
                      <%= link_to t("global.header.profile"), current_user,class:"success"%>
                    </li>
                      <br><br>
                    <li>
                    <%= link_to t("global.header.logout"), logout_path, method: :delete ,class:"success" %>
                    </li>
                    </ul>
                    </li>
                    <% else %> <li>
                    <%= link_to t("global.header.signin"), login_path ,class:"success" %></li>
                    <% end %>
                    </nav>
            </ul>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
</header>




